#active {
  text-decoration: underline;
}
header {
  display: flex;
  flex-direction: column;
}

#dn {
  width: 50px;
  background-color: white;
  color: black;
  margin: 10px auto;
}

section {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 150px 1fr;
}

a {
  color: #262626;
  text-decoration: none;
}
h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 3px solid black;
  padding-bottom: 20px;
  margin-bottom: 0;
}


article{
  padding: 0 15px;
}

.menu{
  border-right: 2px solid black;
  margin: 0;
  padding-top: 15px;
}
p>img{
  margin-bottom: 0;
}
img{
  margin: 10px 0;
}

@media screen and (max-width: 767px) {

  body {
    size: auto;
  }

  section{
    display: block;
    border: 2px solid black;
  }
  .menu{
    border: none;
    border-bottom: 2px solid black;
    padding: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    list-style-type: none;
  }

  #dn {
    width: 55px;
    margin: 10px auto;
  }
}
